webis-person.xsd

<?xml version="1.0"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.buw.de/webtec"
elementFormDefault="qualified">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vorname" type="xs:string"/>
				<xs:element name="nachname" type="xs:string"/>
				<xs:element name="beruf" type="xs:string"
				minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
		<xs:attribute name="geburtsjahr" type="xs:gYear" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>